<a href="https://colab.research.google.com/github/Mysterio-maker/STUDY-OF-CONDITIONAL-LOOPS-IN-PYTHON-/blob/main/STUDY_OF_CONDITIONAL_STATEMENTS_IN_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXPERIMENT- 6

## TITLE- STUDY OF CONDITIONAL STATEMENTS IN PYTHON

## NAME- AMEY WAGHMARE
## PRN- 25070123009
## BATCH - A1

In [ ]:
# 1. CHECK IF NUMBER IS POSITIVE OR NEGATIVE

num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
else:
    print("Negative number")

Enter a number: 1
Positive number

In [ ]:
# 2. zero condition

num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else :
    print("Zero")

Enter a number: 0
Zero

In [ ]:
# 3. If number is odd or even

num=int(input("Enter a number: "))

if num%2==0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 1
Odd number

In [ ]:
# 4. Greatest and smallest number

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if num1 > num2:

    print(num1, "is greater")

elif num2 > num1:

     print(num2, "is greater")

else :

     print("Both are equal")

Enter first number: 1
Enter second number: 1
Both are equal

In [ ]:
# 5. Find largest among three numbers

num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
num3=int(input("Enter third number: "))

if num1 > num2 and num1 > num3:

  print (num1, "is greater")

elif num2 > num1 and num2 > num3:

  print (num2, "is greater")

else:

  print (num3, "is greatest")

Enter first number: 1
Enter second number: 2
Enter third number: 3
3 is greater

In [1]:
# 6. MARKS AND PASSING CRITERIA

subject1 = int(input("Enter marks in subject 1: "))
subject2 = int(input("Enter marks in subject 2: "))
subject3 = int(input("Enter marks in subject 3: "))
subject4 = int(input("Enter marks in subject 4: "))
subject5 = int(input("Enter marks in subject 5: "))

total_marks = subject1 + subject2 + subject3 + subject4 + subject5
average = total_marks / 5

print("Total Marks =", total_marks)
print("Average Marks =", average)

# Passing condition (Assuming 40 is passing in each subject)
if (subject1 >= 40 and subject2 >= 40 and subject3 >= 40
    and subject4 >= 40 and subject5 >= 40):
    print("Result: PASS")
else:
    print("Result: FAIL")

Enter marks in subject 1: 70
Enter marks in subject 2: 80
Enter marks in subject 3: 30
Enter marks in subject 4: 20
Enter marks in subject 5: 10
Total Marks = 210
Average Marks = 42.0
Result: FAIL

In [2]:
# Python program for date validation and increment

date = input("Enter the date in format {dd/mm/yyyy}: ")

try:
    dd, mm, yy = date.split("/")
    dd = int(dd)
    mm = int(mm)
    yy = int(yy)

    if mm < 1 or mm > 12:
        print("Date is invalid.")

    else:
        # Days in month
        if mm in (1, 3, 5, 7, 8, 10, 12):
            max_days = 31
        elif mm in (4, 6, 9, 11):
            max_days = 30
        else:  # February
            if (yy % 4 == 0 and yy % 100 != 0) or (yy % 400 == 0):
                max_days = 29
            else:
                max_days = 28

        if dd < 1 or dd > max_days:
            print("Date is invalid.")
        else:
            # Increment date
            if dd == max_days:
                dd = 1
                if mm == 12:
                    mm = 1
                    yy += 1
                else:
                    mm += 1
            else:
                dd += 1

            print(f"The incremented date is: {dd:02d}/{mm:02d}/{yy}")

except:
    print("Invalid format! Please enter date in dd/mm/yyyy format.")

Enter the date in format {dd/mm/yyyy}: 07/04/2026
The incremented date is: 08/04/2026

In [3]:
# Leap year
year = int(input("Enter year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Enter year: 2026
Not Leap Year

In [4]:
# Salary Calculation with Allowances

basic = int(input("Enter the Basic Salary: "))

if basic <= 10000:
    da = basic * 20 / 100
    hra = basic * 80 / 100
elif basic <= 20000:
    da = basic * 25 / 100
    hra = basic * 90 / 100
else:
    da = basic * 30 / 100
    hra = basic * 95 / 100

gross = basic + da + hra

print("Gross Salary:", gross)

Enter the Basic Salary: 1000000
Gross Salary: 2250000.0

In [5]:
# Income Tax Calculation Program

salary = int(input("Enter your annual income: "))

if salary <= 250000:
    tax = 0

elif salary <= 500000:
    tax = (salary - 250000) * 0.05

elif salary <= 1000000:
    tax = (250000 * 0.05) + (salary - 500000) * 0.20

else:
    tax = (250000 * 0.05) + (500000 * 0.20) + (salary - 1000000) * 0.30

print("Total Tax to be Paid:", tax)

Enter your annual income: 10000
Total Tax to be Paid: 0